



.navbar {
  background-color: black;
  color: white;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.jumbotron {
  margin-bottom: 5px;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.footer {
  margin-top: 0px;
}


th {
  background-color: grey;
  text-align: left;
  padding: 8px;
}

.form-select {
  width: 20%;
  padding: 8px;
  margin: 2px;
  margin-top: 0px;
}

button {
  width: 20%;
  margin: 2px;
}

label {
  margin: 2px;

}


h3 {
  background-color: grey;
  margin-bottom: 1px;
  padding: 5px;

}
